In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
file = pd.read_csv('trip_update_20200410.csv',dtype={'arrival_delay': str})

In [4]:
file = file.dropna(subset=['arrival_delay'])
file["arrival_delay"] = pd.to_numeric(file["arrival_delay"])
file.describe()

             date  arrival_delay  departure_delay
count     15916.0   15916.000000     15836.000000
mean   20200410.0      11.585700        10.222215
std           0.0      60.164691        57.377350
min    20200410.0     -36.000000       -87.000000
25%    20200410.0       0.000000         0.000000
50%    20200410.0       0.000000         0.000000
75%    20200410.0       0.000000         0.000000
max    20200410.0     646.000000       646.000000

In [5]:
file.head(10)

,date,time,trip_id,route_id,schedule_relationship,stop_id,arrival_time,arrival_delay,departure_time,departure_delay,update_scheduleRelationship
8,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000337,NaN,0,NaN,0.0,SCHEDULED
9,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000396,NaN,0,NaN,0.0,SCHEDULED
10,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000406,NaN,0,NaN,0.0,SCHEDULED
11,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000352,NaN,0,NaN,0.0,SCHEDULED
12,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000382,NaN,0,NaN,0.0,SCHEDULED
13,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000372,NaN,0,NaN,0.0,SCHEDULED
14,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2000342,NaN,0,NaN,0.0,SCHEDULED
15,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,2015138,NaN,0,NaN,0.0,SCHEDULED
16,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,204332,NaN,0,NaN,0.0,SCHEDULED
17,20200410,15:38:56,20-P.1649.102.198.B.8.61079534,BNK_1a,SCHEDULED,204462,NaN,0,NaN,0.0,SCHEDULED

In [6]:
file.describe()

             date  arrival_delay  departure_delay
count     15916.0   15916.000000     15836.000000
mean   20200410.0      11.585700        10.222215
std           0.0      60.164691        57.377350
min    20200410.0     -36.000000       -87.000000
25%    20200410.0       0.000000         0.000000
50%    20200410.0       0.000000         0.000000
75%    20200410.0       0.000000         0.000000
max    20200410.0     646.000000       646.000000

In [7]:
file.schedule_relationship.unique()

array(['SCHEDULED', nan], dtype=object)

In [8]:
file[file['arrival_delay'] < 0]

,date,time,trip_id,route_id,schedule_relationship,stop_id,arrival_time,arrival_delay,departure_time,departure_delay,update_scheduleRelationship
724,20200410,15:38:17,103L.1649.102.194.T.8.61081556,NTH_1a,SCHEDULED,206451,NaN,-1,NaN,-31.0,SCHEDULED
1865,20200410,15:36:24,849H.1649.102.64.A.8.61080276,WST_2d,SCHEDULED,2753661,NaN,-12,NaN,-42.0,SCHEDULED
3526,20200410,15:37:09,665T.1649.102.66.T.8.61082195,ESI_1d,SCHEDULED,2226102,NaN,-15,NaN,-45.0,SCHEDULED
4507,20200410,15:49:56,8--M.1649.102.64.B.8.61080999,IWL_1c,SCHEDULED,217428,NaN,-4,NaN,-34.0,SCHEDULED
4712,20200410,15:47:58,W562.1649.102.64.V.4.62139922,BMT_2,SCHEDULED,2782181,NaN,-2,NaN,-32.0,SCHEDULED
5485,20200410,15:50:43,51AJ.1649.102.64.M.4.61080421,CMB_1a,SCHEDULED,2160262,NaN,-17,NaN,-47.0,SCHEDULED
6015,20200410,15:50:59,86-K.1649.102.192.A.8.61080756,APS_1a,SCHEDULED,2000372,NaN,-1,NaN,-31.0,SCHEDULED
8045,20200410,16:04:06,215E.1649.102.198.H.8.61079471,CCN_1a,SCHEDULED,2256452,NaN,-36,NaN,-66.0,SCHEDULED
9472,20200410,16:05:19,W558.1649.102.192.V.4.62139949,BMT_2,SCHEDULED,2148535,NaN,-5,NaN,-35.0,SCHEDULED
13239,20200410,16:10:54,245E.1649.102.66.H.8.61079643,CCN_2a,SCHEDULED,208181,NaN,-36,NaN,-66.0,SCHEDULED
14225,20200410,16:11:11,851H.1649.102.64.A.8.61081981,WST_1b,SCHEDULED,2145654,NaN,-7,NaN,-37.0,SCHEDULED

In [9]:
trip_id = '11-M.1649.102.64.B.8.61079386'
stop_id = '2205111'

In [10]:
one_trip = file[file['trip_id'] == trip_id]
one_trip.to_csv( trip_id + '.csv')
one_trip

,date,time,trip_id,route_id,schedule_relationship,stop_id,arrival_time,arrival_delay,departure_time,departure_delay,update_scheduleRelationship
408,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2212162,NaN,0,NaN,0.0,SCHEDULED
409,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2211141,NaN,0,NaN,0.0,SCHEDULED
410,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2210321,NaN,0,NaN,0.0,SCHEDULED
411,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2209151,NaN,0,NaN,0.0,SCHEDULED
412,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2209141,NaN,0,NaN,0.0,SCHEDULED
413,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2208141,NaN,0,NaN,0.0,SCHEDULED
414,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2207281,NaN,0,NaN,0.0,SCHEDULED
415,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2207271,NaN,0,NaN,0.0,SCHEDULED
416,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205101,NaN,0,NaN,0.0,SCHEDULED
417,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205111,NaN,0,NaN,0.0,SCHEDULED
418,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020101,NaN,0,NaN,0.0,SCHEDULED
419,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,202091,NaN,0,NaN,0.0,SCHEDULED
420,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020111,NaN,0,NaN,0.0,SCHEDULED
421,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2015111,NaN,0,NaN,0.0,SCHEDULED
422,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2000341,NaN,0,NaN,0.0,SCHEDULED
4336,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2210321,NaN,27,NaN,27.0,SCHEDULED
4337,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2209151,NaN,27,NaN,27.0,SCHEDULED
4338,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2209141,NaN,27,NaN,27.0,SCHEDULED
4339,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2208141,NaN,27,NaN,27.0,SCHEDULED
4340,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2207281,NaN,27,NaN,27.0,SCHEDULED
4341,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2207271,NaN,27,NaN,27.0,SCHEDULED
4342,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205101,NaN,27,NaN,27.0,SCHEDULED
4343,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205111,NaN,27,NaN,27.0,SCHEDULED
4344,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020101,NaN,27,NaN,27.0,SCHEDULED
4345,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,202091,NaN,27,NaN,27.0,SCHEDULED
4346,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020111,NaN,27,NaN,27.0,SCHEDULED
4347,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2015111,NaN,27,NaN,27.0,SCHEDULED
4348,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2000341,NaN,27,NaN,0.0,SCHEDULED
8311,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2207271,NaN,0,NaN,0.0,SCHEDULED
8312,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205101,NaN,0,NaN,0.0,SCHEDULED
8313,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205111,NaN,0,NaN,0.0,SCHEDULED
8314,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020101,NaN,0,NaN,0.0,SCHEDULED
8315,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,202091,NaN,0,NaN,0.0,SCHEDULED
8316,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020111,NaN,0,NaN,0.0,SCHEDULED
8317,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2015111,NaN,0,NaN,0.0,SCHEDULED
8318,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2000341,NaN,0,NaN,0.0,SCHEDULED
12597,20200410,16:11:13,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020101,NaN,0,NaN,0.0,SCHEDULED
12598,20200410,16:11:13,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,202091,NaN,0,NaN,0.0,SCHEDULED
12599,20200410,16:11:13,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2020111,NaN,0,NaN,0.0,SCHEDULED
12600,20200410,16:11:13,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2015111,NaN,0,NaN,0.0,SCHEDULED
12601,20200410,16:11:13,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2000341,NaN,0,NaN,0.0,SCHEDULED

In [11]:
one_trip[one_trip['stop_id'] == stop_id]

,date,time,trip_id,route_id,schedule_relationship,stop_id,arrival_time,arrival_delay,departure_time,departure_delay,update_scheduleRelationship
417,20200410,15:29:41,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205111,NaN,0,NaN,0.0,SCHEDULED
4343,20200410,15:51:08,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205111,NaN,27,NaN,27.0,SCHEDULED
8313,20200410,16:03:44,11-M.1649.102.64.B.8.61079386,APS_2a,SCHEDULED,2205111,NaN,0,NaN,0.0,SCHEDULED

In [12]:
timetable = pd.read_csv('../timetable/timetable_20200410.csv',dtype={'stop_id': str,'block_id':str,'parent_station':str})

In [13]:
one_trip_timetable = timetable[timetable['trip_id'] == trip_id]
one_trip_timetable

,start_date,end_date,arrival_time,departure_time,route_id,route_short_name,route_long_name,route_type,route_color,route_text_color,service_id,trip_id,trip_headsign,direction_id,stop_id,stop_name,stop_sequence,pickup_type,drop_off_type,block_id,shape_id,stop_lat,stop_lon,location_type,parent_station,wheelchair_accessible,wheelchair_boarding,monday,tuesday,wednesday,thursday,friday,saturday,sunday,agency_name,agency_timezone
9454,20200410,20200413,16:05:00,16:05:30,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2207271,Bardwell Park Station Platform 1,16,0,0,7287.0,APS_2a,-33.931477,151.125048,0,220710,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9455,20200410,20200413,15:57:30,15:58:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2209141,Beverly Hills Station Platform 1,11,0,0,7287.0,APS_2a,-33.949055,151.081012,0,220910,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9456,20200410,20200413,16:03:00,16:03:30,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2207281,Bexley North Station Platform 1,15,0,0,7287.0,APS_2a,-33.937478,151.113731,0,220720,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9457,20200410,20200413,16:24:00,16:25:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2000341,Central Station Platform 21,33,1,0,7287.0,APS_2a,-33.884281,151.207120,0,200060,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9458,20200410,20200413,16:19:36,16:20:06,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2015111,Green Square Station Platform 1,28,0,0,7287.0,APS_2a,-33.906068,151.202532,0,201710,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9459,20200410,20200413,16:00:30,16:01:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2208141,Kingsgrove Station Platform 1,14,0,0,7287.0,APS_2a,-33.940504,151.100661,0,220810,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9460,20200410,20200413,16:16:30,16:17:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2020111,Mascot Station Platform 1,27,0,0,7287.0,APS_2a,-33.923179,151.187218,0,202010,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9461,20200410,20200413,15:55:30,15:56:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2209151,Narwee Station Platform 1,10,0,0,7287.0,APS_2a,-33.947612,151.070464,0,220920,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9462,20200410,20200413,15:50:00,15:50:30,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2211141,Padstow Station Platform 1,7,0,0,7287.0,APS_2a,-33.951878,151.032401,0,221110,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9463,20200410,20200413,15:31:01,15:48:01,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2212162,Revesby Station Platform 2,1,0,1,7287.0,APS_2a,-33.952482,151.015084,0,221210,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9464,20200410,20200413,15:52:30,15:53:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2210321,Riverwood Station Platform 1,9,0,0,7287.0,APS_2a,-33.951456,151.052218,0,221010,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9465,20200410,20200413,16:14:12,16:14:42,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,202091,Domestic Station Platform 1,25,0,0,7287.0,APS_2a,-33.933579,151.180776,0,202020,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9466,20200410,20200413,16:11:54,16:12:24,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2020101,International Station Platform 1,24,0,0,7287.0,APS_2a,-33.934925,151.165848,0,202030,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9467,20200410,20200413,16:07:30,16:08:00,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2205101,Turrella Station Platform 1,18,0,0,7287.0,APS_2a,-33.929833,151.140164,0,220530,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney
9468,20200410,20200413,16:09:48,16:10:18,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2205111,Wolli Creek Station Platform 1,23,0,0,7287.0,APS_2a,-33.928538,151.154500,0,220510,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney

In [14]:
one_trip_timetable[one_trip_timetable['stop_id'] == stop_id]

,start_date,end_date,arrival_time,departure_time,route_id,route_short_name,route_long_name,route_type,route_color,route_text_color,service_id,trip_id,trip_headsign,direction_id,stop_id,stop_name,stop_sequence,pickup_type,drop_off_type,block_id,shape_id,stop_lat,stop_lon,location_type,parent_station,wheelchair_accessible,wheelchair_boarding,monday,tuesday,wednesday,thursday,friday,saturday,sunday,agency_name,agency_timezone
9468,20200410,20200413,16:09:48,16:10:18,APS_2a,T8,Macarthur to City Circle via Airport,2,00954C,FFFFFF,1649.102.64,11-M.1649.102.64.B.8.61079386,City Circle via Museum,1,2205111,Wolli Creek Station Platform 1,23,0,0,7287.0,APS_2a,-33.928538,151.1545,0,220510,0,0,0,0,0,0,1,0,0,Sydney Trains,Australia/Sydney