In [15]:
import pandas as pd
from datetime import date
import os

In [16]:
pd.set_option('display.max_columns', None)

In [17]:
trip_id = 'W548.1648.101.8.V.4.61300938'
stop_id = '2166271'

In [18]:
file = pd.read_csv('trip_update_20200414.csv',dtype={'arrival_delay': str})

In [19]:
# file = file.dropna(subset=['arrival_delay'])
# file["arrival_delay"] = pd.to_numeric(file["arrival_delay"])
file.describe()

             date  departure_delay
count      4732.0      4732.000000
mean   20200414.0         2.329248
std           0.0        18.559706
min    20200414.0      -759.000000
25%    20200414.0         0.000000
50%    20200414.0         0.000000
75%    20200414.0         0.000000
max    20200414.0       195.000000

In [20]:
test = file[file['route_id'] == 'IWL_1a']
test.to_csv('test.csv')

In [21]:
file.arrival_time.unique()

array([nan, '20200414 09:08:01', '20200414 09:13:03', '20200414 09:15:01',
       '20200414 09:18:02', '20200414 09:20:19', '20200414 09:22:42',
       '20200414 09:26:13', '20200414 09:29:55', '20200414 09:33:54',
       '20200414 09:35:34', '20200414 09:38:25', '20200414 09:40:00',
       '20200414 09:41:34', '20200414 09:43:01', '20200414 09:45:19',
       '20200414 09:47:39', '20200414 09:49:35', '20200414 09:51:47',
       '20200414 09:54:00', '20200414 17:23:01', '20200414 18:01:55',
       '20200414 18:13:55', '20200414 18:27:01', '20200414 19:01:19',
       '20200414 19:09:31', '20200414 19:23:55', '20200414 19:27:25',
       '20200414 19:31:43', '20200414 19:38:55', '20200414 19:46:25',
       '20200414 20:02:25', '20200414 20:13:25', '20200414 20:21:25',
       '20200414 20:25:01', '20200414 20:28:55', '20200414 10:54:00',
       '20200414 11:01:30', '20200414 11:07:30', '20200414 11:14:00',
       '20200414 11:18:00', '20200414 11:23:48', '20200414 11:29:30',
       '20200414 11:32:30', '20200414 11:36:00', '20200414 11:40:00',
       '20200414 11:44:48', '20200414 11:49:30', '20200414 11:53:36',
       '20200414 11:57:00', '20200414 12:01:00', '20200414 12:04:30',
       '20200414 12:09:30', '20200414 12:13:36', '20200414 12:20:00',
       '20200414 12:23:30', '20200414 12:39:30', '20200414 12:49:00',
       '20200414 12:56:06', '20200414 13:01:47', '20200414 13:15:02',
       '20200414 12:07:49', '20200414 12:17:00', '20200414 12:21:00',
       '20200414 12:24:30', '20200414 12:27:00', '20200414 12:31:00',
       '20200414 12:34:00', '20200414 12:36:42', '20200414 12:40:37',
       '20200414 12:46:07', '20200414 12:50:32', '20200414 12:53:09',
       '20200414 13:00:19', '20200414 13:06:25', '20200414 13:17:55',
       '20200414 13:20:48', '20200414 10:59:48', '20200414 11:27:00',
       '20200414 11:39:00', '20200414 11:51:54', '20200414 12:26:36',
       '20200414 12:35:06', '20200414 12:49:54', '20200414 12:53:12',
       '20200414 13:07:54', '20200414 13:23:30', '20200414 13:34:12',
       '20200414 13:42:12', '20200414 13:45:48', '20200414 13:50:24',
       '20200414 13:20:31', '20200414 13:24:00', '20200414 13:26:48',
       '20200414 13:30:48', '20200414 13:33:00', '20200414 13:35:42',
       '20200414 13:37:54', '20200414 13:40:30', '20200414 13:43:36',
       '20200414 13:46:30', '20200414 13:49:30', '20200414 13:51:48',
       '20200414 13:54:00', '20200414 13:57:00', '20200414 11:54:00',
       '20200414 12:01:30', '20200414 12:07:23', '20200414 12:14:00',
       '20200414 12:18:00', '20200414 12:23:48', '20200414 12:29:30',
       '20200414 12:32:30', '20200414 12:36:00', '20200414 12:40:00',
       '20200414 12:44:48', '20200414 12:49:30', '20200414 12:53:36',
       '20200414 12:57:00', '20200414 13:00:57', '20200414 13:04:30',
       '20200414 13:10:03', '20200414 13:14:09', '20200414 13:20:33',
       '20200414 13:24:03', '20200414 13:39:33', '20200414 13:49:03',
       '20200414 13:56:42', '20200414 14:02:00', '20200414 14:15:00'],
      dtype=object)

In [22]:
file['arrival_time'].where(file['arrival_time'].notnull(), None)

0                    None
1                    None
2                    None
3                    None
4                    None
              ...
4727    20200414 13:56:42
4728    20200414 14:02:00
4729    20200414 14:15:00
4730                 None
4731                 None
Name: arrival_time, Length: 4732, dtype: object

In [23]:
file.schedule_relationship.unique()

array(['SCHEDULED', nan, 'CANCELED'], dtype=object)

In [24]:
file.arrival_time.unique()

array([nan, '20200414 09:08:01', '20200414 09:13:03', '20200414 09:15:01',
       '20200414 09:18:02', '20200414 09:20:19', '20200414 09:22:42',
       '20200414 09:26:13', '20200414 09:29:55', '20200414 09:33:54',
       '20200414 09:35:34', '20200414 09:38:25', '20200414 09:40:00',
       '20200414 09:41:34', '20200414 09:43:01', '20200414 09:45:19',
       '20200414 09:47:39', '20200414 09:49:35', '20200414 09:51:47',
       '20200414 09:54:00', '20200414 17:23:01', '20200414 18:01:55',
       '20200414 18:13:55', '20200414 18:27:01', '20200414 19:01:19',
       '20200414 19:09:31', '20200414 19:23:55', '20200414 19:27:25',
       '20200414 19:31:43', '20200414 19:38:55', '20200414 19:46:25',
       '20200414 20:02:25', '20200414 20:13:25', '20200414 20:21:25',
       '20200414 20:25:01', '20200414 20:28:55', '20200414 10:54:00',
       '20200414 11:01:30', '20200414 11:07:30', '20200414 11:14:00',
       '20200414 11:18:00', '20200414 11:23:48', '20200414 11:29:30',
       '20200414 11:32:30', '20200414 11:36:00', '20200414 11:40:00',
       '20200414 11:44:48', '20200414 11:49:30', '20200414 11:53:36',
       '20200414 11:57:00', '20200414 12:01:00', '20200414 12:04:30',
       '20200414 12:09:30', '20200414 12:13:36', '20200414 12:20:00',
       '20200414 12:23:30', '20200414 12:39:30', '20200414 12:49:00',
       '20200414 12:56:06', '20200414 13:01:47', '20200414 13:15:02',
       '20200414 12:07:49', '20200414 12:17:00', '20200414 12:21:00',
       '20200414 12:24:30', '20200414 12:27:00', '20200414 12:31:00',
       '20200414 12:34:00', '20200414 12:36:42', '20200414 12:40:37',
       '20200414 12:46:07', '20200414 12:50:32', '20200414 12:53:09',
       '20200414 13:00:19', '20200414 13:06:25', '20200414 13:17:55',
       '20200414 13:20:48', '20200414 10:59:48', '20200414 11:27:00',
       '20200414 11:39:00', '20200414 11:51:54', '20200414 12:26:36',
       '20200414 12:35:06', '20200414 12:49:54', '20200414 12:53:12',
       '20200414 13:07:54', '20200414 13:23:30', '20200414 13:34:12',
       '20200414 13:42:12', '20200414 13:45:48', '20200414 13:50:24',
       '20200414 13:20:31', '20200414 13:24:00', '20200414 13:26:48',
       '20200414 13:30:48', '20200414 13:33:00', '20200414 13:35:42',
       '20200414 13:37:54', '20200414 13:40:30', '20200414 13:43:36',
       '20200414 13:46:30', '20200414 13:49:30', '20200414 13:51:48',
       '20200414 13:54:00', '20200414 13:57:00', '20200414 11:54:00',
       '20200414 12:01:30', '20200414 12:07:23', '20200414 12:14:00',
       '20200414 12:18:00', '20200414 12:23:48', '20200414 12:29:30',
       '20200414 12:32:30', '20200414 12:36:00', '20200414 12:40:00',
       '20200414 12:44:48', '20200414 12:49:30', '20200414 12:53:36',
       '20200414 12:57:00', '20200414 13:00:57', '20200414 13:04:30',
       '20200414 13:10:03', '20200414 13:14:09', '20200414 13:20:33',
       '20200414 13:24:03', '20200414 13:39:33', '20200414 13:49:03',
       '20200414 13:56:42', '20200414 14:02:00', '20200414 14:15:00'],
      dtype=object)

In [25]:
file[file['trip_id'] == trip_id]

,date,time,trip_id,route_id,schedule_relationship,stop_id,arrival_time,arrival_delay,departure_time,departure_delay,update_scheduleRelationship
4705,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,278651,20200414 11:54:00,0,20200414 11:55:00,0,NaN
4706,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,278561,20200414 12:01:30,0,20200414 12:02:01,0,NaN
4707,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2780221,20200414 12:07:23,0,20200414 12:07:23,0,NaN
4708,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2780201,20200414 12:14:00,0,20200414 12:14:29,0,NaN
4709,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2780211,20200414 12:18:00,0,20200414 12:18:21,0,NaN
4710,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2782181,20200414 12:23:48,0,20200414 12:24:31,0,NaN
4711,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,278421,20200414 12:29:30,0,20200414 12:30:11,0,NaN
4712,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,278331,20200414 12:32:30,0,20200414 12:33:01,0,NaN
4713,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,277941,20200414 12:36:00,0,20200414 12:37:20,0,NaN
4714,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,277881,20200414 12:40:00,0,20200414 12:40:51,0,NaN
4715,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,277871,20200414 12:44:48,0,20200414 12:45:11,0,NaN
4716,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,277661,20200414 12:49:30,0,20200414 12:50:01,0,NaN
4717,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2777191,20200414 12:53:36,0,20200414 12:54:06,0,NaN
4718,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2777201,20200414 12:57:00,0,20200414 12:57:26,0,NaN
4719,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2774121,20200414 13:00:57,0,20200414 13:00:57,0,NaN
4720,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2774111,20200414 13:04:30,0,20200414 13:05:31,0,NaN
4721,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,277371,20200414 13:10:03,0,20200414 13:10:33,0,NaN
4722,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,277381,20200414 13:14:09,33,20200414 13:14:39,33,NaN
4723,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2750491,20200414 13:20:33,33,20200414 13:21:03,33,NaN
4724,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2750512,20200414 13:24:03,33,20200414 13:24:33,3,NaN
4725,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2148535,20200414 13:39:33,3,20200414 13:40:03,3,NaN
4726,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2150411,20200414 13:49:03,3,20200414 13:50:00,0,NaN
4727,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2141311,20200414 13:56:42,0,20200414 13:57:12,0,NaN
4728,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2135232,20200414 14:02:00,0,20200414 14:02:30,0,NaN
4729,20200414,13:05:33,W548.1648.101.8.V.4.61300938,BMT_2,NaN,2000327,20200414 14:15:00,0,NaN,0,NaN

In [12]:
one_trip = file[file['trip_id'] == trip_id]
one_trip.to_csv(trip_id + '.csv')

In [13]:
# trip_obj = one_trip[one_trip['trip_id'] == trip_id]
# trip_obj

In [14]:
timetable = pd.read_csv('../timetable/timetable_20200411.csv',dtype={'stop_id': str,'block_id':str,'parent_station':str})

FileNotFoundError: [Errno 2] File ../timetable/timetable_20200411.csv does not exist: '../timetable/timetable_20200411.csv'

In [ ]:
trip_id = '12-D.1649.102.194.B.8.61079501'
o = timetable[timetable['trip_id'] == trip_id]
o = o.sort_values(by=['stop_sequence'])
o.to_csv(trip_id + '_timetable.csv' )

In [ ]:
# one_trip_timetable = timetable[timetable['stop_id'] == stop_id]
# one_trip_timetable

In [ ]:
# obj = one_trip_timetable[one_trip_timetable['trip_id'] == trip_id]
# obj

In [ ]:
# trip_obj

In [ ]:
df2 = file
df2.duplicated(subset=['trip_id', 'stop_id']).any()